@model CongerHeatingAndCooling.Models.NavigationModel
<div class="row">
    <div class="large-12 columns">
        <div class="sticky">
            <div class="transparent chc-header">
                <div class="row">
                    <div class="large-5 medium-5 columns">
                        <a href="~/Company/Home"><img src="~/Content/Images/Logos/chclogo-10yr-small.png" class="logo" /></a>
                        <img style="margin-left:10px;" src="~/Content/Images/licensed-insured-free-estimates.png" alt="Fully Licensed &amp; Insured, Free Estimates!" class="" />
                    </div>
                        <div class="large-3 medium-3 columns">        
                            <div class="truck" class="has-tip" data-tooltip title="Per gallon based on a mimimum delivery of @Model.MimimumGallons gallons. Price subject to vary based on amount of gallons delivered and location. Other conditions may apply. Please call 978.728.4757 with any questions.">
                                <p>@Html.Raw(Model.PricePerGallon)</p>

                            </div> 
                        </div>
                        <div class="large-4 medium-4 columns right">
                            <br/><br/>
                            <img src="~/Content/Images/accepted-cards-small.png" class="acceptedCards" />
                            <div><span>FOR OIL DELIVERY EMERGENCY CALL:</span> 978.870.4945</div>
                        </div>
                    </div>
            </div>
            <nav class="top-bar" data-topbar role="navigation"  data-options="scrolltop: false">
                <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li class="has-dropdown">
                    <a href="#">Company</a>
                    <ul class="dropdown">
                        <li><a href="~/Company/About">About</a></li>
                        <li><a href="~/Company/Products">Products</a></li>
                    </ul>
                    </li>
                    <!--<li class="divider"></li>
                    <li class="has-dropdown">
                    <a href="#">Installation</a>
                    <ul class="dropdown">
                        <li><a href="~/Company/Services?service=ac">Air Conditioning</a></li>
                        <li><a href="~/Company/Services?service=heating">Heating &amp; Furnace</a></li>
                    </ul>
                    </li>
                        -->
                    <li class="divider"></li>
                    <li class="has-dropdown">
                    <a href="#">Oil Delivery</a>
                    <ul class="dropdown">
                        <li><a href="~/OilDelivery/ServiceArea">Delivery Area</a></li>
                        <li><a id="newCustomerHref" href="https://www.congersheatingandcoolingte.com/NCMM93YDL82/" target="_new">New Customers</a></li>
                        <li><a href="https://www.congersheatingandcoolingte.com/CU8CPM629/Login.aspx?ReturnUrl=%2fCU8CPM629%2f" target="_new">Existing Customers</a></li>
                        <!--<li><a href="~/OilDelivery/NewCustomer">New Customers</a></li>
                        <li><a href="~/OilDelivery/ExistingCustomer">Existing Customers</a></li>
                        <li><a href="~/OilDelivery/Redirect">Order Oil</a></li>-->
                    </ul>
                    </li>
                </ul>

                <!-- Left Nav Section -->
                <ul class="left">
                    <li class="has-dropdown">
                     <a href="#">Contact Us</a>
                    <ul class="dropdown">
                        <li><a href="#">978.728.4757 <small>(office)</small></a></li>
                        <li><a href="#">978.870.4945 <small>(emergency)</small></a></li>
                        <li><a href="~/Support/ContactUs">Contact Form</a></li>
                    </ul>
                    </li>
                </ul>
                </section>
            </nav>
        </div>
    </div>
    @if ( Model.Announcements.Any() ) {
    <div class="large-12 columns">
        <div class="transparent">
            <marquee behavior="scroll" direction="up" scrollamount="1" height="50" width="100%">
                <ul>
                @foreach ( var annoucement in Model.Announcements ) {
                   <li>
                       <h4 class="announcement-header">@annoucement.Item1</h4>
                       @annoucement.Item2
                    </li>
                }
                </ul>
            </marquee>
        </div>
    </div>
    }
</div>

@if ( Model.Alerts.Any() ) {
<div id="alertModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    @for ( int i = 0; i < Model.Alerts.Count(); i++ ) {
    <div id="@string.Format("alert-{0}", i)">
        <h2 id="modalTitle">@Model.Alerts[i].Item1</h2>
        <div class="row">
            <div class="large-12 columns">
                <ul>
                    <li>
                        @Model.Alerts[i].Item2
                    </li>
                </ul>

            </div>
        </div>
    </div>
    }
    @if ( Model.Alerts.Count > 1 ) {
        <div class="pagination-centered">
            <ul class="pagination" role="menubar" aria-label="Pagination">
                <li class="arrow"><a id="prevAlert" href="#">&laquo; Previous</a></li>
                <li class="arrow"><a id="nextAlert" href="#">Next &raquo;</a></li>
            </ul>
        </div>
    }
    <br />
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
}

<div id="newCustomerModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div>
        <h2 id="modalTitle">New Customer Notice</h2>
        <div class="row">
            <div class="large-12 columns">
                <p>
                    For our best price per gallon, your delivery must be 150 gallons or more. Also, deliveries below 100 gallons will be subject to a minimum
                    delivery fee ranging from $25.00 - $60.00. Please call the office for details regarding our different PPG tiers.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns text-center">
                <button>Continue</button>
            </div>
        </div>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>